{
  "action" : "actions",
  "list" : [
    {
	  "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "chainexplosion",
      "angleAdjust" : 180
    },
	{
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/blastsmallfire2.ogg" ]
    }
  ]
}