{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "watersplash",
	  "config" : {
	    "bounces" : -1,
		"actionOnReap" : [
		  {
			"action" : "applySurfaceMod",
			"previousMod" : "tilleddry",
			"newMod" : "tilled",
			"radius" : 2
		  }
		]
	  }
    }
  ]
}
