 {
  "noCategoryFilters" : false,
  "filter" : [ "rs_workbench" ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/rs_craftingheader.png",
      "fileBody" : "/interface/crafting/rs_craftingbody.png",
      "fileFooter" : "/interface/crafting/rs_craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/rs_x.png",
      "hover" : "/interface/rs_xhover.png",
      "pressed" : "/interface/rs_xpress.png",
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Kenopsea Workbench",
      "subtitle" : "Stations",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingfurniture.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/interface/crafting/upgradeUnready.png",
      "base" : "/interface/crafting/upgradeReady.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [228, 56],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/rs_amount.png",
      "position" : [222, 55],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/rs_button.png",
      "hover" : "/interface/rs_buttonhover.png",
      "position" : [278, 52],
      "caption" : "Craft"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/rs_buttonactive.png",
      "hover" : "/interface/rs_buttonactivehover.png",
      "position" : [278, 52],
      "caption" : "Stop"
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/rs_box.png",
      "baseImageChecked" : "/interface/crafting/rs_check.png",
      "checkable" : true,
      "checked" : false,
      "position" : [40, 59]
    },
    "scrollArea" : {
      "type" : "scrollArea",
	  "position" : [167, 70],
      "size" : [9, 150],
	  "buttons" : {
    "horizontal" : {
      "forward" : { "base" : "", "hover" : "", "pressed" : "" },
      "backward" : { "base" : "", "hover": "", "pressed" : "" }
    },
    "vertical" : {
      "forward" : {
        "base" : "/interface/crafting/rs_workbench.png",
        "hover" : "/interface/crafting/rs_workbench.png",
        "pressed" : ""
      },
      "backward" : {
        "base" : "/interface/crafting/rs_workbench.png",
        "hover" : "/interface/crafting/rs_workbench.png",
        "pressed" : ""
      }
    }
  },
  "thumbs" : {
    "horizontal" : {
      "base" : { "begin" : "", "end" : "", "inner" : "" },
      "hover" : { "begin" : "", "end" : "", "inner" : "" },
      "pressed" : { "begin" : "", "end" : "", "inner" : "" }
    },
    "vertical" : {
      "base" : {
        "begin" : "/interface/bookmarks/scrollarea/rs_vthumbbegin.png",
        "end" : "/interface/bookmarks/scrollarea/rs_vthumbend.png",
        "inner" : "/interface/bookmarks/scrollarea/rs_vthumbinner.png"
      },
      "hover" : {
        "begin" : "/interface/bookmarks/scrollarea/rs_vthumbbeginhover.png",
        "end" : "/interface/bookmarks/scrollarea/rs_vthumbendhover.png",
        "inner" : "/interface/bookmarks/scrollarea/rs_vthumbinnerhover.png"
      },
      "pressed" : {
        "begin" : "/interface/bookmarks/scrollarea/rs_vthumbbeginhover.png",
        "end" : "/interface/bookmarks/scrollarea/rs_vthumbendhover.png",
        "inner" : "/interface/bookmarks/scrollarea/rs_vthumbinnerhover.png"
      }
    }
  },
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/notcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [12, 44],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : true
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : []
      }
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : []
  }
}
