{
  "action" : "actions",
  "list" : [
    {
	  "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "gaussexplosion",
      "angleAdjust" : 360
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/blastsmallfire2.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}