{
  "action" : "actions",
  "list" : [
    {
	  "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "bulletimpactexplosion",
      "angleAdjust" : 360
    },
	{
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smallflame/smallflame.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 1.5,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.5,
                  "rotation" : 180
				}
			  }
		    }
	      ]
	    }
	  ]
    },
	{
	  "action" : "particle",
        "specification" : {
            "type" : "animated",
            "animation" : "/animations/breaksmoke/breaksmoke.animation",
            "approach" : [0, 0],
            "timeToLive" : 1.5,
			"variance" : {
                  "position" : [0, 0],
                  "timeToLive" : 0.5,
                  "rotation" : 180
			}
		}
	},
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/blast_small_fire2.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}